@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

.table {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
}

.tag {
    background-color: #ebebeb;
    color: #00ADB5;
    padding: 3px 13px;
    border-radius: 15px;
}

.fa-angle-right {
    color: #00ADB5;
}

/* gold */
.gold {
    border: 1px solid #00ADB5;
    position: relative;
    background: url(./shape.svg) no-repeat;
    transform: scale(1.1);
}

/* star */
.fa-star-o {
    position: absolute;
    top: 6px;
    left: 6.5px;
    color: #fff;
}


/* button */
.btn, .btn:active{
    background-color: rgb(0, 173, 181) !important;
    border: none;
}

.btn:hover {
    background-color: rgb(10, 156, 163) !important;
}

.btn:focus-visible {
    color: #fff;
    background-color: rgba(0, 173, 181, 1);
    border-color: rgba(0, 173, 181, 1);
    outline: 0;
    box-shadow: rgba(0, 173, 181, 1);
}
